<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('layout')%>
    <div class="py-4">
      <h2>ยินดีต้อนรับ</h2>
    </div>
  </body>
</html>
